* {
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.hero {
    background-image: url(images/hero.jpg);
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
    max-height: 100vh;
    max-height: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}


.hero-content {
    margin-left: 20px;
    font-size: x-large;
    font-weight: 900;
    padding: 20px;
    background-color: rgba(30, 48, 39, 0.322);

}

nav {
    position: sticky;

}

#navigation ul {
    background: rgba(30, 48, 39, 0.623);
    list-style-type: none;
    top: 0;
    margin: 0;
    position: sticky;
    gap: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 16px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

#navigation a {
    color: azure;
    font-size: larger;
    font-weight: 300;
    text-decoration: none;

}

#book-table {
    padding: 3px;
    text-decoration: none;
    background-color: gray;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}

.about-us {
    text-align: center;
    padding: 50px;
    margin: 20px;
}

.about-us header {
    font-size: x-large;
    font-weight: 900;
    text-decoration: underline;
}

.about-us p {
    font-weight: 400;
    font-size: large;
}

.menu {
    background-image: url('images/menu.jpg');
    background-color: rgba(165, 42, 42, 0.267);
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    display: flex;
    max-height: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-content: center;
    color: whitesmoke;
    flex-direction: column;

}

.menu header,
.menu p {
    text-align: center;
    font-size: x-large;
    padding-left: 50px;
    padding-right: 50px;
}

.menu p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu header {
    text-decoration: underline;
}

.menu header,
.menu p,
#menu-items {
    background-color: rgba(82, 68, 66, 0.521);
}

#menu-items {
    display: grid;
    font-size: large;
    grid-template: auto;
    justify-content: space-evenly;
    grid-template-areas: "appetizer salad" "main dessert";

}

#menu-items h3 {
    font-size: larger;
    text-decoration: underline;
}

#appetizer {
    grid-area: appetizer;
}

#salad {
    grid-area: salad;
}

#main {
    grid-area: main;
}

#dessert {
    grid-area: dessert;
}

#reservation {
    text-align: center;
    padding: 50px;
}

#reservation header {
    font-size: x-large;
    font-weight: 900;
    text-decoration: underline;
}

#reservation-content h3 {
    font-size: larger;
    font-weight: 900;
    text-decoration: underline;
}

#reservation-content p {
    font-weight: 400;
    font-size: large;
}

#reservation-content {
    display: flex;
    gap: 30px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    justify-items: center;
    align-items: center;
}

#contact-us {
    background-image: url('images/contactUs.jpg');
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#contact-us header,
#contact-text,
#contact-details {
    background-color: rgba(37, 27, 9, 0.432);
}

#contact-us header,
#contact-text {
    text-align: center;
    font-size: x-large;
    padding-left: 50px;
    padding-right: 50px;
}

#contact-us header {
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contact-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact-details {
    display: grid;
    font-size: large;
    grid-template: auto;
    justify-content: space-evenly;
    grid-template-areas: "location phone email"
        "social-media-links social-media-links social-media-links"
        "opening-hours opening-hours opening-hours";

}

#contact-details h3 {
    text-decoration: underline;
    font-size: larger;
}

#location {
    grid-area: location;
    text-align: center;
}

#phone {
    grid-area: phone;
    text-align: center;
}

#email {
    grid-area: email;
    text-align: center;
}

#email a {
    color: white;
    text-decoration: none;
}

#social-media-links {

    grid-area: social-media-links;
    text-align: center;
}

#opening-hours {
    padding-top: 20px;
    grid-area: opening-hours;
    text-align: center;
}

#social-media-links img {
    height: 40px;
    width: 40px;
    margin-left: 15px;
    margin-right: 15px;
}